*{
    transition: 0.2s ease-in-out;
}
#source{
    visibility:hidden;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  #newscard{
    background: linear-gradient(to left,transparent 50%, rgb(32, 31, 31) 50%) right;
    background-color: transparent;
    background-size: 200%;
  }
#newscard:hover  #source{
    visibility:visible;
    animation: slideup 0.5s ;
    margin-top: 0px;
    background-color: red;
}
.bg-dark {
    --bs-bg-opacity: 0;
}
.bg-light {
    
    --bs-bg-opacity: 0;
}
#newscard:hover{
    background-position: left;
}

#newscard:hover  .card-body{
    color: white;
}

@keyframes slideup {
    0% {
        transform: translate(0px, 10px);
        opacity: 0;
    }
    100% {
      transform: translate(0px);
      opacity: 1;
    }
}
.fa-moon:active, .nav-link:active{
    transform: scale(0.8);
}
